################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/My-new-first-repository-/v17/.wsuo
/.vs/My-new-first-repository-/FileContentIndex/2699474d-588b-450c-ad04-0d435448dd8d.vsidx
/.vs/My-new-first-repository-/FileContentIndex/2378351b-a144-401e-9786-7e1bc0bb7ba3.vsidx
/.vs/My-new-first-repository-/FileContentIndex/dfe17a10-a47f-4602-961b-795adb5f1033.vsidx
/.vs/My-new-first-repository-/FileContentIndex
